.ff-mont {
  font-family: 'Montserrat', sans-serif;
}

.ff-neue {
  font-family: 'Bebas Neue', cursive;
}

.site-wrap {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0; padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  transition: all 0.3s ease;
}

header.site-header {
  background: 
    linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,131,8,0) 20%, rgba(0,131,8,0.7) 70%), 
    url(../img/bg-lawn.jpg) center bottom;
  background-size: cover;
  border-bottom: 40px solid green;
}

header.site-header {
  color: white;
}

header.site-header h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px black; 
  color: white;
}

header.site-header a {
  color: #fff;
}

header.site-header a:hover {
  text-decoration: none;
}

header p {
  text-shadow: 1px 1px 2px black; 
}

.mobile-menu {
  display: none;
}

.top-bar {
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #000;
}

.top-bar nav a {
  color: white;
}

@media (max-width: 767px) {
  .mobile-menu {
    position: relative;
    display: block;
    z-index: 10;
    background: #111;
    padding: 1rem;
    color: white;
  }

  .mobile-menu a {
    color: white;
  }

  .mobile-menu a:hover,
  .mobile-menu a:active,
  .mobile-menu a:focus {
    text-decoration: none;
  }

  .menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }

  .menu:focus {
    border: none;
    outline: none;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .top-bar {
    position: absolute;
    width: 100vw;
    top: -234px;
    transition: all 0.5s ease;
  }

  .top-bar.opened {
    top: 80px;
  }

  
  .top-bar .flex-grid > div {
    width: 100%;
  }

  .top-bar nav a {
    display: block;
  }

  .bottom-bar .site-wrap .sm\:flex-grid div {
    width: 100%;
    min-width: 100%;
  }
}



.services-grid li {
  overflow: hidden;
}

.services-grid li img {
  border-top: 40px solid blue;
  object-fit: cover;
  height: 275px;
  transition: all 0.25s ease;
}

.services-grid li:hover img {
  transform: scale(1.05);
  opacity: 0.8;
} 

.services-grid a:hover {
  color: green;
  text-decoration: none;
} 

.services-grid li:first-child img {
  border-top: 40px solid green;
}

.services-grid li:last-child img {
  border-top: 40px solid red;
}

.color-white {
  color: #fff;
}

.color-green {
  color: green;
}


.gallery .current-image img, 
.image-list img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: all .3s ease;
}

.gallery .current-image {
  display: block;
  height: 700px;
}

.gallery .current-image img {
  height: 700px;
}

.gallery .current-image img.active {
  display: block;
  margin: 0 0 0.75rem 0;
}
  
.image-list {
  display: flex;
  
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}

.image-list li {
  padding: .5rem;
}

.image-list li img {
  height: 12rem;
  width: 100%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.image-list li img:hover {
  opacity: 0.7;
}

@media (max-width:480px) {
  .gallery .current-image {
    display: none;
  }

  .image-list li img {
    height: auto;
  }

  .image-list li img {
    margin-bottom: 2rem;
  }
}
